@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

body {
  font-family: 'Lato', 'Sans-serif';
  color: #A9A9A9;
  font-weight: 300;
}

.muted, a{
  color: #7d97ad;
}

.thin {
  font-weight: 100;
}

.title-logo {
  margin-top: 20px;
}

.border {
  border: 2px solid #7d97ad;
}

.container {
    padding-bottom: 2.3em;
}

@media screen and (max-width: 1000px) {
    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
    }

    .muted {
        text-align: center;
        margin-top: 3rem;
    }

    .logo{
        width: 100vw;
    }

    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        text-align: center;
    }

}